*{margin:0;padding:0;}
#container {}
#footer {position: relative; height: 70px;clear:both;} 
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}
body{background:#2a2b2d;font:13px/1.3 'Microsoft Yahei','宋体';color:#999;}
#page,#footer_inner{margin:0 auto;width:960px;}
h1#logo{overflow:hidden;height:93px;padding: 25px 0;}
h1#logo a{display:block;height:93px;}
#container{margin:0 auto;}
#container h2 {font-weight:normal;line-height:28px;}
#container p{padding:10px 0;}
.credit{text-align:center;padding: 20px 0 100px;font-size:10px;}
a, a:visited {text-decoration:none;outline:none;color:#97cae6;}
a:hover{text-decoration:underline;}
#footer{background-color:#212121;width:100%;}
#footer h2{font-size:18px;font-weight:normal;height:70px;line-height:70px;font-family:"Microsoft Yahei";color:#eee;}
#footer_inner{position:relative;}
#footer a.tzine,a.tzine:visited{color:#FCFCFC;font-size:12px;line-height:70px;position:absolute;top:0;right:0;width:90px;}

/*-核心代码-*/
/* demo style */
ul.sdt_menu{list-style:none;font-family:"Myriad Pro", "Trebuchet MS", sans-serif;font-size:14px;height:85px;margin:150px auto 0 auto;padding:0;}
ul.sdt_menu a{text-decoration:none;outline:none;}
ul.sdt_menu li{float:left;width:170px;height:85px;position:relative;cursor:pointer;background:#1a1a1a;}
ul.sdt_menu li > a{position:absolute;top:0;left:0;width:170px;height:85px;z-index:12;background:url(images/overlay.png) no-repeat top right;-moz-box-shadow:0 0 2px #000 inset;-webkit-box-shadow:0 0 2px #000 inset;box-shadow:0 0 2px #000 inset;}
ul.sdt_menu li a img{border:none;position:absolute;width:0;height:0;bottom:0;left:85px;z-index:100;-moz-box-shadow:0 0 4px #000;-webkit-box-shadow:0 0 4px #000;box-shadow:0 0 4px #000}
ul.sdt_menu li span.sdt_wrap{position:absolute;top:25px;left:0;width:170px;height:60px;z-index:15;}
ul.sdt_menu li span.sdt_active{position:absolute;background:#111;top:85px;width:170px;height:0;left:0;z-index:14;-moz-box-shadow:0 0 4px #000 inset;-webkit-box-shadow:0 0 4px #000 inset;box-shadow:0 0 4px #000 inset;}
ul.sdt_menu li span span.sdt_link,ul.sdt_menu li span span.sdt_descr,ul.sdt_menu li div.sdt_box a{margin-left:15px;text-transform:uppercase;text-shadow:1px 1px 1px #000;}
ul.sdt_menu li span span.sdt_link{color:#fff;font-size:24px;float:left;clear:both;}
ul.sdt_menu li span span.sdt_descr{color:#0B75AF;float:left;clear:both;width:155px;font-size:10px;letter-spacing:1px;}
ul.sdt_menu li div.sdt_box{position:absolute;width:170px;overflow:hidden;height:155px;padding-top:15px;top:85px;left:0;display:none;background:#000;}
ul.sdt_menu li div.sdt_box a{line-height:30px;color:#0B75AF;font-size:12px;display:block;}
ul.sdt_menu li div.sdt_box a:hover{color:#fff;}