@charset "utf-8";
/* DaTouWang URL: www.datouwang.com */
* {
	padding: 0;
	margin: 0
}
body {
	background-color: #eee;
}
.test {
	width: 540px;
	margin: 40px auto 0
}
.test li {
	width: 180px;
	height: 180px;
	float: left;
	list-style: none
}
.test li img {
	width: 140px;
	height: 140px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	-webkit-transition: all ease .3s;
	transition: all ease .5s;
}
.test li img:hover {
	-webkit-transform: scale(1.05);
	transform: scale(2.05);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	border-radius: 50%
}